#header-home { 
    font-size: 100px;
    color: 	#696969;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin-top:20px;
    }

h2, h3, h4, h5, p {
    font-family: 'Righteous', cursive;
}