body {
	line-height: 1;
	background: #1C1C1C;
	border-top: 3px solid blue;
	width: 1000px;
	margin: 0 auto;
}

h1 { 
    font-size: 100px;
    color:blue;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin-top:20px;
    }

    nav{
        border:1px solid blue;
        border-width:1px 0;
        list-style:none;
        width: 900px;
        margin:0 auto;
        padding:0;
        text-align:center;
        font-family: 'Rubik Mono One', sans-serif;
    }
    nav li{
        display:inline;
        text-align:center;
        color:blue;
        font-family: 'Rubik Mono One', sans-serif;
    }
    nav a{
        display:inline-block;
        padding:10px;
        color:blue;
        text-decoration: none;
        font-family: 'Rubik Mono One', sans-serif;
    
    }
    
    nav a:hover {
    background-color:blue;
    color:#1C1C1C;
    font-family: 'Rubik Mono One', sans-serif;
    
        
    }
    
    li a:hover {
        background-color: blue;
    }
    
    p { 
    text-align:center;
    color:blue;
    font-family: 'Changa', sans-serif;
    }

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }